@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif; 
    background-color: #E5E5E5;
}

.topo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4)
}

.topo h1{
    padding: 0 20px;
    width: 248px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}

.topo h2{
    padding: 5px 20px;
    width: 226px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.conteudo{
    width: 100%;
    margin: 123px 0;
}
.conteudo div{
    margin-bottom: 30px;
}

.escolhas{
    height: 265px;
}

.escolhas > h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 22px;
    padding: 0 20px;
}

.menu{
    overflow-x: scroll;
    display: flex;
    margin-top: 15px;
}

.opcaoPosicionar{
    margin: 0 20px;
}

.opcao{
    height: 216px;
    width: 172px;
    border-radius: 10px;
    background-color: white;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100%;
    width: 144px;
}

.item img{ 
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.item h1{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}
.item h2{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
.item h3{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.fechar_pedido{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 92px;
    background-color: #FFFFFF;
}

.botao{
    width: 364px;
    height: 60px;
    background-color: #CBCBCB;
    border-radius: 50px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao h1{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
